* { 
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.redondo {
  width: 290;
  height: 0;
  position: absolute;
}
.redondo p {
  font-size: 0;
  position: absolute;
}

.box:hover .redondo p {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 121.5px;
  left: 102.773px;
}
.box:hover .redondo {
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: width .3s, height .3s, margin .3s;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background: #000000;
  opacity: 70%;
}
